.iitgn-image{
    height: 180px;
    aspect-ratio: 1/1;
}
.footer{
    padding-top:5vh;
    padding-bottom: 3vh;
    width: 100vw;
    background-color: #F0F0F0;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 2.2rem;
    text-align: center;
    margin-right: 30px;
}
p{
    font-size: 2rem;
    margin: 5px;
}
.row{
    width: 220px;
    text-align: center;
}
/* .margin-i{
    margin-right: 100px;
} */

.row h3{
    margin-left: 20px;
}

.facebook-hai, 
.linkedin-hai,
.instagram-hai{
  display: flex;
  justify-content: space-between;
}
.social-handles-margin{
  margin-bottom: 10px;
}
.brands{
    color:#000;
    border-radius:10%;
    background-color: #fff;
    margin-left: 1.5vw;
    padding: 0.2vw;
    border:2px solid #fff;
  }
  .brands:hover{
    color: #fff;
    border:2px solid #6c63f5;
    background-color: #6c63f5;
  }
  
  .social-handles-margin a {
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
  }
  
  .social-handles-margin a:hover {
    color: #4e43eb;
    text-decoration: none;
  }
