.iitgn-image{
    height: 180px;
    aspect-ratio: 1/1;
}
.footer{
    padding-top:5vh;
    padding-bottom: 3vh;
    width: 100vw;
    background-color: #eee;
    color: #000;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
p{
    font-size: 2rem;
    margin: 5px;
}
.row{
    width: 200px;
}
